* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #FFFFFF;
    width: 90%;
    margin: 30px auto 50px;
    height: 60vh;

}

.content {
    display: flex;
    margin: 60px ;
    gap: 20px;
}

p {
    font-size: 1.2rem;
}

/* 미션 종류 카테고리 이미지 */
button {
    border: none;
    background-color: #A4D8E1;
    cursor: pointer;
    border-radius: 50px;
}


.content > button > img {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
}

.ms-date {
    border: 3px solid #A4D8E1;
}