/* ---------------------------------------------------------------------- 
    메인
----------------------------------------------------------------------*/

/* 입력 폼 */

.data-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/* 분기 배치 버튼 */
.data-button button {
    padding: 10px;
    width: 680px;
    max-width: 80vw;
    height: 150px;
    font-size: 2.8rem;
}

.data-button:nth-child(2) {
    margin-top: 50px;
} 