/* ---------------------------------------------------------------------- 
    로그인 박스 폼
----------------------------------------------------------------------*/

/* 컨테이너 */
.container {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

/* 반응형 설정: 화면 너비가 컨테이너 크기 이하일 때 */
@media (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr; /* 좌우 한칸으로 변경 */
        grid-template-rows: 100px 1fr; /* 상하 둘 */
    }

    /* 이미지 크기 조절 */
    .logo-img img {   
        width: 200px;
        height: auto;
        padding: 10px;
    }

    /* 중앙선 DIV 숨기기 */
    .container > div:nth-child(2) {
        display: none;
    }
}

/* 컨테이너 자식 DIV들 전부 중앙 정렬 */
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 중앙 세로선 */
.center-line hr {
    height: 400px;
    width:.1vw;
    border-width: 0;
    background-color:#000;
}

/* 입력 폼 */
.data-form {
    flex-direction: column; /* 세로 정렬 */
    padding: 20px;
    margin: 0 auto;
}