/* 모달 css */
.del-modal-black {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    /* top: 182px;
    left: 177px; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* margin-top: 500px; */
    justify-content: center;
}

.del-modal-white {
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    border: 3px solid #5589e996;
    /* margin: 170px; */
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.modal-name {
    font-size: 1.3rem;
    padding: 10px;
}

.modal-mission-title {
    display: grid;
    grid-template-columns: 250px 100px 100px 100px 100px;  
    height: 40px;
    gap: 20px;
    background-color: #F5F5F5;
    font-size: 1rem;
    margin: 10px;
    align-items: center;
    width: 750px;
    text-align: center;
}

.del-guide {
    font-size: 1.4rem;
    padding: 15px;
}


.modal-img{
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
    border: 3px solid #5589e996;
    border-radius: 50px;
    padding: 3px;
}

/* 버튼 */
.modal-cancel {
    color: #5589e996;
    background-color: #FFFFFF;
    font-size: 1.5rem;
    border: 1px solid #5589e996;
    padding: 5px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    top: 400px;
    right: 350px;
}

.modal-mission-content{
    display: grid;
    grid-template-columns: 250px 100px 100px 100px 100px;  
    min-height: 40px;
    gap: 20px;
    /* background-color: #F5F5F5; */
    font-size: 1rem;
    margin: 10px;
    align-items: center;
    width: 1400px;
    text-align: center;
    /* border-bottom: 2px solid black; */
}