@font-face {
    font-family: 'MangoDdobak-R';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-R.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MangoDdobak-R';
}

/* 스와이퍼 css */
.swiper-button-prev, .swiper-button-next {
    color: #a2caac !important;
}

.swiper {
    margin-top: 2rem;
    height: 100%;
}

.swiper-wrapper {
    gap: 7rem !important;
    margin-left: 6rem;
}

.v-loop {
    width: 360px !important;
}