.header {
    height: 140px;
    /* width: 93%; */
    margin: auto;
    display: flex;
}

/* 로고 이미지 */
.logo {
    background-image: url('/img/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
}

.header-hr {
    border: 1px solid #FFFFFF;
    width: 75%;
    margin-left: 400px;
}

/* 메뉴 바 */
.navi-bar {
    background-color: #FFFFFF;
    width: 70%;
    height: 60px;
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(6, 220px);

}

.item-btn {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    /* width: 130px; */
    font-size: 35px;  /* 기본 폰트 사이즈 */
    color: #CACACA;   /* 기본 색상 */
    text-decoration: none;
    color: #000;
}



.item {
    text-align: center;
    padding: 10px;
    /* position: absolute; */

}

.item-btn.active {
    font-size: 40px;  /* 활성화된 버튼의 폰트 사이즈 */
    color: #000;      /* 활성화된 버튼의 색상 */
}

/* 게시판 드랍 메뉴 */
.child-dropdown {
    display: none;
    width: 130px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    left: 10px;
    position: relative;
    left: 50px;
    cursor: pointer;
}

.item:hover .child-dropdown {
    display: block;
}

.child {
    padding: 15px;
    font-size: 1.2rem;
}

.link-deco {
    text-decoration: none;
    color: #000;
}


.child:hover {
    background-color: #f3f5f5;
}



/* drop bar 아이콘 */
.drop-bar {
    display: flex;
    gap: 30px;
}

.hamburger-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    /* font-size: 2rem; */
    cursor: pointer;
    position: relative;

}

/* 드랍 메뉴 */
.dropdown {
    width: 180px;
    background-color: #FFFFFF;
    /* position: relative; */
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;

    /* 햄버거 버튼 누르면 나타나는 메뉴 */
    /* transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1); */
}

/* 햄버거 드롭다운 */
.info-page  {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    /* margin: 15px; */
    padding: 15px;

}

.logout-btn {
    border: none;
    background-color: #A4D8E1;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}


.info-page:hover {
    background-color: #f3f5f5;

}

.bell-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    position: relative;

}

/* 벨 드롭다운 */
.dropdown-bell {
    width: 260px;
    background-color: #FFFFFF;
    /* position: relative; */
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;

    /* 종 버튼 누르면 나타나는 메뉴 */
    /* transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1); */

}

.bell{
    width: 290px;
}


.alram {
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: #000;
    font-size: 1.0rem;
    padding: 10px;
}

.alram-pro {
    margin: 10px;
    border: 3px solid #FFBDD0;
    border-radius: 50px;
    padding: 3px;

}

.alram:hover {
    background-color: #f3f5f5;
}

.bell-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
}

/* .show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
} */

/* ****footer**** */
/* footer {
    color: #FFFFFF;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 40px;
    min-height: 40vh;
} */

