/* 적용 중인 컴포넌트
    부모 홈(ParentManagement)
*/

/* 네비게이션 버튼 css */
.swiper-button-prev, .swiper-button-next {
    color: #a2caac !important;
}

/* 스와이퍼 슬라이드 css */
.swiper {
    padding-left: 77px !important;
}

.swiper-wrapper {
    /* gap: 115px; */
}

.swiper-slide {
    width: 320px !important;
    margin-right: 90px
}
